desktop.ini
__pycache__/
*.pt
data/


# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints/

# Ignore model files
*.h5
*.pt
*.pth

# Ignore data folders
data/
datasets/
models/

# Ignore system files (especially Windows)
desktop.ini
Thumbs.db
.DS_Store

# Ignore Colab and Jupyter backups
*.bak
*.swp
*.tmp

# Ignore environment and config files
.env
*.log
